@import "root_fonts.css";

:root
{
    --colBG: #2b2b2b;
    --col_LightBG: white;
    --col_DarkBG: rgb(22,22,22);
}

html, body
{
    font-family: HelveticaNeueRoman;
    background-color: var(--colBG);
    overflow-x: hidden;
    max-width: min(95%, 800px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

content
{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

h1, h2, h3
{
    font-family: HelveticaNeueHeavy;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

section
{
    background-color:var(--col_LightBG);
    padding: 0.8em 1em 0.8em;
    margin-bottom: 0.5em;
    overflow-y: hidden;
}

#content br {display: none;}
#content p br {display: inline;}